.body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    p{
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 32px;
        padding-right: 30px;
        padding-top: 10px;
        font-weight: 290;
    }
}

@media only screen and (min-width: 1000px) {
   
    .body{
        max-width: 2000px;

        p{
            font-size: 5vw;
            padding-right: 2vw;
        }
    }
}

@media only screen and (max-width: 500px) {
    .body {
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0; // Remove any padding that may be affecting the width
      padding-left: 30vw;
  
      p {
        text-align: center;
        font-size: 6vw; // Adjust the font size if necessary
        padding-right: 60px; // Remove padding to ensure full width utilization
        width: 100%; // Ensure each `p` tag takes the full width
        justify-content: center; // Center the text within each `p` tag
        padding-top: 40px; // Add padding to separate items if desired
        padding-bottom: 40px; // Add padding to separate items if desired
      }
    }
  }